/*===========================================
General Styles
=============================================*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	height: 100vh;
	margin: 0 auto; /*all our rows will be centered*/
}
body{
	position: relative;
}
.container{
   	position: absolute;
   	top: 50%;
   	left: 50%;
   	transform: translate(-50%, 6%);
	height: 520px;
	width: 520px;

}
.squares{
    height: 50%;
    width: 49%;
    border: 1px dotted gray;
    display: inline-block;
    border-radius: 40px;
	position: relative;
}

.squares h3{
	color: #F8F8F8;
	position: absolute;
 	transform: translate(-50%, -50%);
  	top: 50%;
  	left: 50%;
	display: none;
}
.squares:hover h3{
	color: #000;
	position: absolute;
 	transform: translate(-50%, -50%);
  	top: 50%;
  	left: 50%;
  	display: block;
}
#red{
	background-color: red;
}
#blue{
	background-color: blue;
}
#green{
	background-color: green;
}
#yellow{
	background-color: yellow;
}



.light {
	height: 50%;
    width: 49%;
    border: 1px dotted gray;
    display: inline-block;
    border-radius: 40px;
	position: relative;
	animation-name: highlight;
	animation-duration: 1s;
}

@keyframes highlight {
    from {border: 1px dotted gray;}
    to {border: 10px solid black;}
}

.light h3{
	color: #000;
	position: absolute;
 	transform: translate(-50%, -50%);
  	top: 50%;
  	left: 50%;
  	display: block;
}

#red:hover{
	background: radial-gradient(circle, red, grey);
    opacity: 0.9;
    border-radius: 40px;

}
#blue:hover{
	background: radial-gradient(circle, blue, grey);
    opacity: 0.9;
    border-radius: 40px;
}
#green:hover{
	background: radial-gradient(circle, green, grey);
    opacity: 0.9;
    border-radius: 40px;
}
#yellow:hover{
    background: radial-gradient(circle, yellow, grey);
    opacity: 0.9;
    border-radius: 40px;
}

#center{
	position:absolute;
}